
<!-- Copyright (c) 2020-2022, RTE (http://www.rte-france.com)              -->
<!-- See AUTHORS.txt                                                       -->
<!-- This Source Code Form is subject to the terms of the Mozilla Public   -->
<!-- License, v. 2.0. If a copy of the MPL was not distributed with this   -->
<!-- file, You can obtain one at http://mozilla.org/MPL/2.0/.              -->
<!-- SPDX-License-Identifier: MPL-2.0                                      -->
<!-- This file is part of the OperatorFabric project.                      -->


<h2> You have the following task to do  :  </h2>
<br/>
<br/>
<center>
<h3 >

{{keepSpacesAndEndOfLine card.data.taskDescription }}


<br/>
Duration: {{card.data.durationInMinutes}} minutes
<br/> 

At {{card.data.hours}}:{{card.data.minutes}} on 
<span id="dayOfWeeks">


</span>

</h3>
</center>

<script>

      cardTemplate = {
            init: function() {
                  const daysOfWeek = "{{card.data.daysOfWeek}}";
<<<<<<< Updated upstream
                  let text ="";
                  if (daysOfWeek.includes("1"))   text += " monday";
                  if (daysOfWeek.includes("2"))   text += " tuesday";
                  if (daysOfWeek.includes("3"))   text += " wednesday";
                  if (daysOfWeek.includes("4"))  text += " thursday ";
                  if (daysOfWeek.includes("5"))   text += " friday";
                  if (daysOfWeek.includes("6"))  text += " saturday";
                  if (daysOfWeek.includes("7"))  text += " sunday";

                  document.getElementById("dayOfWeeks").innerHTML = text;
=======
                  let textForDaysOfWeek ="";
                  if (daysOfWeek.includes("1"))  textForDaysOfWeek += " Monday";
                  if (daysOfWeek.includes("2"))  textForDaysOfWeek += " Tuesday";
                  if (daysOfWeek.includes("3"))  textForDaysOfWeek += " Wednesday";
                  if (daysOfWeek.includes("4"))  textForDaysOfWeek += " Thursday ";
                  if (daysOfWeek.includes("5"))  textForDaysOfWeek += " Friday";
                  if (daysOfWeek.includes("6"))  textForDaysOfWeek += " Saturday";
                  if (daysOfWeek.includes("7"))  textForDaysOfWeek += " Sunday";
                  if (textForDaysOfWeek !== "")  textForDaysOfWeek = "on" + textForDaysOfWeek;
                  document.getElementById("dayOfWeeks").innerHTML = textForDaysOfWeek;

                  const months = "{{card.data.months}}";
                  let textForMonths ="";
                  console.log('--------');
                  if (months.includes("0"))  textForMonths += " January";
                  if (months.includes("1"))  textForMonths += " February";
                  if (months.includes("2"))  textForMonths += " March";
                  if (months.includes("3"))  textForMonths += " April ";
                  if (months.includes("4"))  textForMonths += " May";
                  if (months.includes("5"))  textForMonths += " June";
                  if (months.includes("6"))  textForMonths += " July";
                  if (months.includes("7"))  textForMonths += " August";
                  if (months.includes("8"))  textForMonths += " September";
                  if (months.includes("9"))  textForMonths += " October";
                  if (months.includes("10")) textForMonths += " November";
                  if (months.includes("11")) textForMonths += " December";
                  if (textForMonths !== "")  textForMonths = "in" + textForMonths;
                  document.getElementById("months").innerHTML = textForMonths;
>>>>>>> Stashed changes
            }
      }
      cardTemplate.init();

</script>